.header {
    width: 100%;
    background: #050402;
    padding: 14px 0;
}

// header first part
.header__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__contacts {
    width: 373px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__contacts__number, .header__contacts__mail, .header__contacts__social-network {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #FAF6F2;
    }
    a:hover {
        color: #BB8C5F;
    }
}
.header__contacts__number {
    margin-right: clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
    width: 166px;
}
.header__contacts__mail {
    margin-right: clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
    width: 153px;
}

.header__contacts__social-network {
    margin-top: 2px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-size: 12px;
        color: #D0D0D0;
    }
}

.header__user-info {
    display: flex;
    gap: clamp(0.313rem, 0.188rem + 0.63vw, 0.938rem); // 5px to 15px
    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #FAF6F2;
    }
}
.header__user-info__icons {
    width: clamp(7.5rem, 7rem + 2.5vw, 10rem); // 120px to 160px
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket-btn__icon, .like-btn, .user-btn {
    cursor: pointer;
}

.basket-btn {
    position: relative;
}
.basket-count {
    position: absolute;
    width: 21px;
    height: 24px;
    background: #BB8C5F;
    top: -15px;
    left: 10px;
    pointer-events: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FAF6F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

// header line 
.header-line {
    margin: 14px 0;
    width: 100%;
}

// Header logo
.header__logo {
    margin: 0 clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
}

// header second part 
.header__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// catalog or menu button
.header__catalog {
    width: clamp(6.25rem, 6rem + 1.25vw, 7.5rem); // 100px to 120px
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
}
.header__catalog__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #FAF6F2;
}
.header__catalog__title-tablet {
    display: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #FAF6F2;
}

// catalog or menu button BURGER
.header__burger {
    width: 24px;
    height: 14px;
    position: relative;
    cursor: pointer;
    span {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #BB8C5F;
        transition: all 0.3s ease;
        transform: scale(1) translate(0px, -50%);
    }
}
.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #BB8C5F;
    transition: all 0.3s ease;
}
.header__burger::before {
    top: 0;
}
.header__burger::after {
    bottom: 0;
}

// input
.header__input {
    width: 415px;
    height: 45px;
    background: #050402;
    border: 1px solid #524336;
    display: flex;
    align-items: center;
    padding: 11px 0 11px 22px;
    margin-left: clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
    gap: 16px;
    img {
        width: 17px;
        height: 17px;
    }
    input {
        width: 100%;
        background: #050402;
        border: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #636B78;
        outline:none;
    }
}

.header__links {
    width: 560px;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            margin-left: clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
            a {
                font-weight: 400;
                font-size: 17px;
                line-height: 150%;
                color: #FAF6F2;
            }
            a:hover {
                color: #BB8C5F;
            }
        }
    }
}

@media (max-width: 778px) {
    .header__contacts__number {
        width: 161px;
    }
    .header__contacts__mail {
        width: 148px;
    }
}

@media (max-width: 768px) {
    .header__logo, .header__links, .header-line, .header__contacts, .header__catalog__title {
        display: none;
    }
    .header__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    // catalog of menu button
    .header__catalog {
        justify-content: start;
        gap: clamp(0.313rem, 0.225rem + 0.44vw, 0.75rem); // 5px to 12px
    }
    .header__catalog__title-tablet {
        display: block;
    }

    // input
    .header__input {
        width: 274px;
        margin-right: clamp(0.313rem, 0.25rem + 0.31vw, 0.625rem); // 5px to 10px
    }
}

@media (max-width: 570px) {
    // input
    .header__input {
        width: clamp(12.5rem, 11.575rem + 4.63vw, 17.125rem);
    }
}
@media (max-width: 500px) {
    // header 
    .header {
        padding: 20px 0;
    }
    .header__user-info {
        margin-right: 10px;
    }
    // input
    .header__input {
        display: none;
    }
}

@media (max-width: 425px) {
    .header__user-info__icons {
        width: 28px;
    }
    // icons 
    .like-btn, .user-btn {
        display: none;
    }
}